@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

h2 {
  color: #006600 !important;
}

h3 {
  color: #006600 !important;
  font-size: 20px !important;
  font-weight: bold !important;
}

p.intro
 {
 text-align: left !important;
}

/* =============================================
   CUSTOM SCROLLBAR
   ============================================= */

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}


/* =============================================
   IMAGE VIEWER
   ============================================= */

.image-click {
border-radius: 5px;
cursor: pointer;
transition: 0.3s;
}

.image-click:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
padding:2% !important;
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: clip; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
margin: auto !important;
display: block;
width: auto !important;
max-width: auto !important;
max-height:90vh !important;
}

/* Caption of Modal Image */
#caption {
margin: auto;
display: block;
width: 80%;
max-width: 700px;
text-align: center;
color: #ccc;
padding: 10px 0;
height: 150px;
}

/* Add Animation */
.modal-content, #caption {
-webkit-animation-name: zoom;
-webkit-animation-duration: 0.6s;
animation-name: zoom;
animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
from {-webkit-transform:scale(0)}
to {-webkit-transform:scale(1)}
}

@keyframes zoom {
from {transform:scale(0)}
to {transform:scale(1)}
}

/* The Close Button */
.close {
position: absolute;
top: 15px;
right: 35px;
color: #f1f1f1;
font-size: 40px;
font-weight: bold;
transition: 0.3s;
}

.close:hover,
.close:focus {
color: #bbb;
text-decoration: none;
cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
.modal-content {
  width: 100%;
}
}

/* =============================================
   GENERAL STYLE
   ============================================= */

a {
  color:#006600 !important;
  text-decoration:none !important;}

.nav a {color:#006600 !important}
#sidebar-container {border-right:15px solid #99c199}

.nav a:hover {color:#99c199 !important}
hr {color:#99c199 !important}
#indexes .list-group-item {border:0px solid transparent !important}
.dropdown-item {--bs-dropdown-link-active-bg: initial;}

.card {border:0px solid transparent !important}

.card-header {
  background-color:transparent !important;
   }
.card-title {
  font-weight:bold !important;
  text-align: justify;
}
.card-footer {
  background-color:transparent !important;
}

/* Images in tables */
img.grande {
  width:3vw;
  height:auto
}

img.piccola {
  width:2vw;
  height:auto
}

img.marsigliesi {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 20%;
  padding-top: 10px;
  padding-bottom: 10px;
}

img.orlando {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 40%;
  padding-top: 10px;
  padding-bottom: 10px;
}

img.visconteo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 40%;
  padding-top: 10px;
  padding-bottom: 10px;
}

img.oulipo {
   display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 40%;
  padding-top: 10px;
  padding-bottom: 10px;
}

figcaption {
  text-align: center !important;
  padding: auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
}

button {
  background-color: transparent !important;
  border:0px solid transparent !important;
  color:#006600 !important}

/* =============================================
   STORIES NETWORKS
   ============================================= */

#network {
  max-width: inherit !important;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

#network-sidebar {border-radius: 25px;}

canvas {font-family: 'Open Sans', sans-serif;}


#legend-container {
   margin-top: 20px;
   padding: 10px;
   border: 1px solid #ccc;
   background-color: #f9f9f9;
   border-radius: 10px;
 }

 .legend-item {
   display: inline-flex;
   align-items: center;
   margin-bottom: 5px;
   font-size:80%;
   justify-content: flex-start;
   margin-right:10px
 }

 .legend-color {
   width: 20px;
   height: 20px;
   margin-right: 10px;
   border-radius: 4px;

 }

 .legend-color-square {
   width: 10px;
   height: 10px;
   margin-right: 5px;
   border-radius: 1px
 }

 /* =============================================
    NETWORKS TOOLS (BOTH VISUALISATIONS AND STORIES)
    ============================================= */

.zoom {
  bottom: 190px;
}

.zoom-out {
  bottom: 120px;
}
.zoom-init {
  bottom: 50px;
}

.side-small-text {font-size:80% !Important}
hr {width:100%;}

.tooltip.bs-tooltip-auto .tooltip-inner {
  background-color:#99c199;
  color:black;
}

button:focus {
  outline: none !important;
  box-shadow: 0 0 0 2px transparent !important;
}

button:after {
  display:none
}

.collapse > .accordion-body {
  color:grey;
  font-size:80%
}

/* Position badges colors and shape */
span.badge.bg-light-success {
  color:#016600;
  background-color: #99C199}


/* NETWORK */
#suggestedNodes {
  overflow: scroll;
  overflow-y: auto;
  max-height: calc(25vh);
}

/* Set the width of the input field and the dropdown menu to be the same */
#searchInput,
#suggestedNodes {
  width: 100%; /* You can adjust the width as needed */
}

ul#suggestedNodes:empty {
  background-color: pink
}

/* NETWORK TOOLS */
.network-tool {
  padding:0.5rem;
  padding-top:1rem
}

#network-description-paragraph {
  font-size: 80%;
}

.modal {
  background-color: rgba(0,0,0,.9);
}

#sparql-gui {background:transparent;}

#popup {
     display: none;
     position: absolute;
     background-color: #fff;
     padding: 10px;
     border: 1px solid #ccc;
     z-index: 1;
 }

/* SEARCH BAR IN TABLES */

/* Add some basic styling for the list group and search bar */

.visible {
  display: block;
}

.hidden {
display: none;
}


.search__input{

        width: 100%;
        padding: 12px 24px;

        background-color: transparent;
        transition: transform 250ms ease-in-out;
        font-size: 14px;
        line-height: 18px;

        color: #575756;
        background-color: transparent;
/*         background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg); */

      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: 18px 18px;
        background-position: 95% center;
        border-radius: 50px;
        border: 1px solid #99C199;
        transition: all 250ms ease-in-out;
        backface-visibility: hidden;
        transform-style: preserve-3d;

        &::placeholder {
            color: color(#575756 a(0.8));
            text-transform: uppercase;
            letter-spacing: 1.5px;
        }

.search__input:hover,.search__input:focus {
            padding: 12px 0;
            outline: 0;
            border: 1px solid transparent;
            border-bottom: 1px solid #575756;
            border-radius: 0;
            background-position: 100% center;
        }
