<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Pasqual Valentina, Enrica Bruno, Francesca Tomasi">
  <title>MACODI</title>
  <link rel="stylesheet" href="../assets/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <!-- cookies and analytics -->
  <script src="../assets/js/stats.js"></script>
  <script src="../assets/js/matomo.js"></script>
</head>
  <body>

    <div class="container-fluid">
      <div class="row flex-nowrap">
        <div id="sidebar-container" class="col-auto px-0">
          <div id="sidebar" class="collapse collapse-horizontal show border-end">
            <div id="sidebar-nav" class="list-group border-0 rounded-0 text-sm-start min-vh-100 p-3" style="white-space: nowrap !important">
              <a href="../" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-decoration-none">
                  <span class="fs-5 d-none d-sm-inline pt-4">MACODI</span>
              </a>
              <p class="side-small-text d-none d-md-inline" style="word-break: break-all !important">
                Esplorazione semantica della<br>«macchina narrativa combinatoria»<br> de <i>Il castello dei destini incrociati</i><br>di Italo Calvino
              </p>
              <hr>
              <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                  <li class="nav-item">
                      <a href="../" class="nav-link align-middle px-0">
                        <i class="bi bi-house-fill"></i>
                          <span class="ms-1 d-none d-sm-inline">Home</span>
                      </a>
                  </li>
                  <li class="nav-item">
                    <a href="../introduzione" class="nav-link align-middle px-0">
                      <i class="bi bi-journal-bookmark-fill"></i>
                      <span class="ms-1 d-none d-sm-inline">Introduzione</span>
                    </a>
                  </li>
                  <li class="nav-item">
                      <a href="../indici" class="nav-link align-middle px-0">
                        <i class="bi bi-book-half"></i>
                          <span class="ms-1 d-none d-sm-inline"><b>Strumenti d'accesso</b></span>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a href="../visualizzazioni"  class="nav-link align-middle px-0">
                        <i class="bi bi-bar-chart-line-fill"></i>
                        <span class="ms-1 d-none d-sm-inline">Visualizzazione dei dati</span> </a>
                  </li>
                  <li class="nav-item">
                      <a href="../sparql" class="nav-link align-middle px-0">
                        <i class="bi bi-lightbulb"></i>
                        <span class="ms-1 d-none d-sm-inline">SPARQL endpoint</span></a>
                  </li>
              </ul>
              <hr>
              <div class="dropdown pb-4">
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                  <li class="nav-item">
                      <a href="https://odi-documentation.github.io/materials/" class="nav-link align-middle px-0" target="_blank">
                        <i class="bi bi-file-earmark-code"></i>
                          <span class="ms-1 d-none d-sm-inline">Documentazione <i class="bi bi-box-arrow-up-right"></i></span>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a href="https://github.com/ODI-documentation/materials" class="nav-link align-middle px-0" target="_blank">
                        <i class="bi bi-github"></i>
                          <span class="ms-1 d-none d-sm-inline">Repository <i class="bi bi-box-arrow-up-right"></i></span>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a href="../contatti" class="nav-link align-middle px-0">
                        <i class="bi bi-person-circle"></i>
                          <span class="ms-1 d-none d-sm-inline">Credits</span>
                      </a>
                  </li>
                  </ul>
            </div>
          </div>
        </div>
      </div>

      <main class="col ps-md-2 pt-2">
      <a href="#" data-bs-target="#sidebar" data-bs-toggle="collapse" class="border rounded-3 p-1 text-decoration-none"><i class="bi bi-list bi-lg py-2 p-1"></i></a>
      <div class="row">

                <!-- STORIES LIST -->
                <div class="col-md-4 mt-4">
                  <nav class="navbar navbar-expand-lg">
                    <div class="container-fluid d-block">
                      <h4 class="mb-0">
                        Le storie
                      </h4>
                      <div class="indexes-nav alert alert-success collapse navbar-collapse d-md-flex justify-content-md-end">
                      <button type="button" class="btn btn-lg btn-danger" data-bs-toggle="popover" data-bs-content="Le prime sei storie sono inserite ognuna in un proprio capitolo. L'ultimo capitolo, Tutte le altre storie, contiene altre sei storie.">
                        <i class="bi bi-info-circle-fill"></i>
                      </button>
                    </div>
                    </div>
                  </nav>
                  <hr class="no-margin-hr">
                  <ul class="list-group list-group-flush">
                    {% for res in storiesResults["results"]["bindings"] %}
                    <h6 class="ps-3 pt-2">{{res["chapterLabel"]["value"]}}</h6>
                      <a class="list-group-item list-group-item-action ps-5" href="../{{res["story"]["value"]|replace('https://w3id.org/odi/data/', '')}}">
                         {% if 'storyName' in res %}<i>{{res["storyName"]["value"]}}</i>{% endif %}
                      </a>
                    {% endfor %}
                    <h6 class="ps-4 pt-2">Capitolo sette, <i>Tutte le altre storie</i></h6>
                    {% for res in otherStoriesResults["results"]["bindings"] %}
                      <a class="list-group-item list-group-item-action ps-5" href="../{{res["story"]["value"]|replace('https://w3id.org/odi/data/', '')}}">
                        {{res["storyTitle"]["value"]}}{% if 'storyName' in res %}, <i>{{res["storyName"]["value"]}}</i>{% endif %}
                      </a>
                    {% endfor %}

                  </ul>
                </div>
                <!-- CARDS LIST -->
                <div class="col-md-4">
                  <div class="container mt-4">
                    <nav class="navbar navbar-expand-lg">
                      <div class="container-fluid d-block">
                        <h4 class="mb-0">Le carte</h4>
                        <div class="indexes-nav alert alert-success collapse navbar-collapse d-md-flex justify-content-md-end" id="navbarNavDarkDropdown">

                          <button type="button" class="btn btn-lg btn-danger" data-bs-toggle="popover" data-bs-content="Le carte sono suddivise per semi (bastoni, coppe, denari, spade) e per tipologia (trionfi, carte di corte, numerali). L’elenco è organizzato in ordine di frequenza o in ordine alfabetico. ">
                            <i class="bi bi-info-circle-fill"></i>
                          </button>
                          <!-- sorting -->
                          <div class="row">
                            <div class="col-md-5">

                              <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                  <i class="bi bi-filter"></i>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                  <li><button class="text-start" onclick="sortResults('alphabetical', 'searchResults')">Ordina alfabeticamente</button></li>
                                  <li><button class="text-start" onclick="sortResults('occurrence', 'searchResults')">Ordina per frequenza</button></li>
                                </ul>
                              </div>
                            </div>
                        </div>

                        <!-- filtering -->
                          <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                              <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Semi</button>

                              <ul class="dropdown-menu">

                                {% for res in suitList %}
                                  <li>
                                    <a class="dropdown-item dropdown-item list-group-item1" data-category={{res}} href="#">{{res}}</a>
                                  </li>
                                {% endfor %}
                              </ul>
                            </li>
                            <li class="nav-item dropdown">
                              <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Tipologia</button>
                              <ul class="dropdown-menu">
                                {% for res in typologyList %}
                                <li class="list-inline">
                                  <a class="dropdown-item dropdown-item list-group-item1" data-category={{res}} href="#">{{res}}</a>
                                </li>
                                {% endfor %}
                              </ul>
                            </li>
                          </ul>
                          <button id="resetFiltersButton"><i class="bi bi-x-lg"></i></button>
                        </div>
                      </div>
                    </nav>
                    <hr class="no-margin-hr">
                    <div class="list-group list-group-flush" id="searchResults">
                      <div class="row">
                        <div class="col-md-5"></div>
                          </div> {% for res in cardsResults["results"]["bindings"] %}
                            {% if 'suitLabel' in res %}
                              <a href="../{{res["card"]["value"]|replace('https://w3id.org/odi/data/', '')}}" class="search-result-item list-group-item list-group-item-action {{res['suitLabel']['value']}} {{ res['typologyLabel']['value']}}">
                                {{res["cardName"]["value"]}}
                          <span class="badge rounded-pill bg-success float-right" style="float:right;">
                            {{res['nCards']['value']}}
                          </span>
                        </a>
                        {% else %}
                        <a href="../{{res["card"]["value"]|replace('https://w3id.org/odi/data/', '')}}" class="search-result-item list-group-item list-group-item-action {{res['typologyLabel']['value']}}">
                          {{res["cardName"]["value"]}}
                          <span class="badge rounded-pill bg-success float-right" style="float:right;">
                            {{res['nCards']['value']}}
                          </span>
                      </a>
                      {% endif %}
                      {% endfor %}
                    </div>
                  </div>
                </div>
                <!-- CARDS MEANINGS LIST -->
                <div class="col-md-4 mt-4">
                  <nav class="navbar navbar-expand-lg">
                    <div class="container-fluid d-block">
                      <h4 class="mb-0">I significati
                      </h4>
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="indexes-nav alert alert-success collapse navbar-collapse d-md-flex justify-content-md-end" id="navbarNavDarkDropdown">

                        <button type="button" class="btn btn-lg btn-danger" data-bs-toggle="popover" data-bs-content="I significati, ovvero le rappresentazioni espresse dalle carte nel testo, sono classificate per: simbolo, oggetto inanimato, luogo ideale, personaggio e evento. L’elenco è organizzato in ordine di frequenza o in ordine alfabetico.">
                          <i class="bi bi-info-circle-fill"></i>
                        </button>

                        <!-- sorting -->
                        <div class="row">
                          <div class="col-md-5">

                            <div class="dropdown">
                              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-filter"></i>
                              </button>
                              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><button class="text-start" onclick="sortResults('alphabetical', 'searchResults2')">Ordina alfabeticamente</button></li>
                                <li><button class="text-start" onclick="sortResults('occurrence', 'searchResults2')">Ordina per frequenza</button></li>
                              </ul>
                            </div>
                          </div>
                      </div>

                      <!-- filtering -->
                        <ul class="navbar-nav">
                          <li class="nav-item dropdown dropstart">
                            <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Classe</button>
                            <ul class="dropdown-menu"> {% for res in classList %} <li>
                                <a class="dropdown-item dropdown-item list-group-item2" data-category={{res}} href="#">{{res}}</a>
                              </li>
                              {% endfor %}
                            </ul>
                            <button id="resetFiltersButton2"><i class="bi bi-x-lg"></i></button>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </nav>
                  <hr class="no-margin-hr">
                  <ul class="list-group list-group-flush" id="searchResults2"> {% for res in meaningsResults["results"]["bindings"] %} <a href="../{{res["meaning"]["value"]|replace('https://w3id.org/odi/data/', '')}}" class="search-result-item2 list-group-item list-group-item-action {{ res['classLabel']['value']}}">{{res["meaningLabel"]["value"]}}
                      <span class="badge rounded-pill bg-success float-right" style="float:right;">{{res['nMeanings']['value']}}</span>
                    </a> {% endfor %} </ul>
                </div>
          </main>
        </div>
    </div>


  </div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
<script src="../assets/js/script.js"></script>


<script>
  function sortResults(sortType, searchContainerID) {
    var resultsContainer = document.getElementById(searchContainerID);
    var results = resultsContainer.children;

    // Convert results to an array for sorting
    var resultsArray = Array.from(results);

    if (sortType === 'alphabetical') {
      // Sort alphabetically based on card name
      resultsArray.sort(function (a, b) {
        var textA = a.innerText.trim();
        var textB = b.innerText.trim();
        return textA.localeCompare(textB);
      });
    } else if (sortType === 'occurrence') {
      // Sort by occurrence (assuming 'nCards' is a numeric value)
      resultsArray.sort(function (a, b) {
        var countA = parseInt(a.querySelector('.badge').innerText, 10);
        var countB = parseInt(b.querySelector('.badge').innerText, 10);
        return countB - countA; // Sort in descending order
      });
    }

    // Re-append sorted elements to the container
    resultsArray.forEach(function (result) {
      resultsContainer.appendChild(result);
    });
  }
</script>

  </body>
</html>
