<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Enrica Bruno, Valentina Pasqual, Francesca Tomasi">
    <title>ODI</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
  </head>
  <body>
    <main>
      <div class="collapse" id="navbarToggleExternalContent" data-bs-theme="dark">
        <div class="bg-dark p-4">
          <h5 class="text-body-emphasis h4">Collapsed content</h5>
          <span class="text-body-secondary">Toggleable via the navbar brand.</span>
        </div>
      </div>
      <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </nav>
      <div class="container">
        <!-- <iframe class="w-100" id="mynetwork" src="static/network.html"></iframe> -->
        <div class="row">
          <!-- STORIES LIST -->
          <div class="col-md-4 mt-4">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
              <div class="container-fluid">
                <a class="navbar-brand" href="#">Le storie</a>
              </div>
            </nav>
            <ul class="list-group list-group-flush"> {% for res in storiesResults["results"]["bindings"] %} <a class="list-group-item list-group-item-action" href={{res["story"]["value"]|replace('https://purl.org/ebr/odi/data/', 'storie/')}}>{{res["storyTitle"]["value"]}}{% if 'storyName' in res %}, <i> {{res["storyName"]["value"]}}</i>{% endif %} </a> {% endfor %} </ul>
          </div>
          <!-- CARDS LIST -->
          <div class="col-md-4">
            <div class="container mt-4">
              <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">Le Carte</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                    <ul class="navbar-nav">
                      <li class="nav-item dropdown">
                        <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"> Semi </button>

                        <ul class="dropdown-menu dropdown-menu-dark"> {% for res in suitList %} <li>
                            <a class="dropdown-item list-group-item" data-category={{res}} href="#">{{res}}</a>
                          </li> {% endfor %} </ul>
                      </li>
                      <li class="nav-item dropdown">
                        <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"> Tipologia </button>
                        <ul class="dropdown-menu dropdown-menu-dark"> {% for res in typologyList %} <li>
                            <a class="dropdown-item list-group-item" data-category={{res}} href="#">{{res}}</a>
                          </li> {% endfor %} </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
              <!-- <h4>Filters</h4> -->
              <!-- <h4>Search Results</h4> -->
              <div class="list-group list-group-flush" id="searchResults">
                <div class="row">
                  <div class="col-md-5"></div>
                </div> {% for res in cardsResults["results"]["bindings"] %} {% if 'suitLabel' in res %} <a href="{{res["card"]["value"]|replace('https://purl.org/ebr/odi/data/', 'carte/')}}" class="search-result-item list-group-item list-group-item-action {{res['suitLabel']['value']}} {{ res['typologyLabel']['value']}}">{{res["cardName"]["value"]}} <span class="badge text-bg-secondary float-right" style="float:right;">{{res['nCards']['value']}}</span></a> {% else %} <a href="{{res["card"]["value"]|replace('https://purl.org/ebr/odi/data/', 'carte/')}}" class="search-result-item list-group-item list-group-item-action {{res['typologyLabel']['value']}}">{{res["cardName"]["value"]}} <span class="badge text-bg-secondary float-right" style="float:right;">{{res['nCards']['value']}}</span>
                </a> {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
          <!-- CARDS MEANINGS LIST -->
          <div class="col-md-4 mt-4">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
              <div class="container-fluid">
                <a class="navbar-brand" href="#">I significati</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                  <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                      <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"> Classe </button>
                      <ul class="dropdown-menu dropdown-menu-dark"> {% for res in classList %} <li>
                          <a class="dropdown-item dropdown-item list-group-item2" data-category={{res}} href="#">{{res}}</a>
                        </li> {% endfor %} </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
            <ul class="list-group list-group-flush"> {% for res in meaningsResults["results"]["bindings"] %} <a href="{{res["meaning"]["value"]|replace('https://purl.org/ebr/odi/data/', 'significati/')}}" class="search-result-item2 list-group-item list-group-item-action {{ res['classLabel']['value']}}">{{res["meaningLabel"]["value"]}}
                <span class="badge text-bg-secondary float-right" style="float:right;">{{res['nMeanings']['value']}}</span>
              </a> {% endfor %} </ul>
          </div>
        </div>
      </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>

    <script>
      $(document).ready(function() {
        // Handler for filter clicks
        $('.list-group-item').on('click', function() {
          var selectedCategory = $(this).data('category');
          // Show all search result items
          $('.search-result-item').fadeIn(800);
          // Hide search result items not matching the selected category
          if (selectedCategory !== 'all') {
            $('.search-result-item').not('.' + selectedCategory).hide();
          }
        });
      });
      $(document).ready(function() {
        // Handler for filter clicks
        $('.list-group-item2').on('click', function() {
          var selectedCategory2 = $(this).data('category');
          // Show all search result items
          $('.search-result-item2').fadeIn(800);
          // Hide search result items not matching the selected category
          if (selectedCategory2 !== 'all') {
            $('.search-result-item2').not('.' + selectedCategory2).hide();
          }
        });
      });
    </script>
  </body>undefined
</html>
