<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Pasqual Valentina, Enrica Bruno, Francesca Tomasi">
  <title>ODI</title>
  <link rel="stylesheet" href="./assets/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
  <body>

    <div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0" id="sidebar">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 min-vh-100">
                <a href="#" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline pt-4">ODI</span>
                </a>
                <p class="side-small-text d-none d-md-inline" style="word-break: break-all !important">
                  <i>Esplorazione semantica della macchina narrativa combinatoria de "Il castello dei destini incrociati"<br>di Italo Calvino</i>
                </p>
                <hr>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link align-middle px-0">
                          <i class="bi bi-house-fill"></i>
                            <span class="ms-1 d-none d-sm-inline">Introduzione</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="odi/indici" class="nav-link align-middle px-0">
                            <i class="bi bi-arrow-down-left-square-fill"></i>
                            <span class="ms-1 d-none d-sm-inline">Indici</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#"  class="nav-link align-middle px-0">
                          <i class="bi bi-bar-chart-line-fill"></i>
                          <span class="ms-1 d-none d-sm-inline">Visualizzazioni dei Dati</span> </a>
                    </li>
                    <li class="nav-item">
                        <a href="odi/sparql" class="nav-link align-middle px-0">
                          <i class="bi bi-question-circle"></i>
                          <span class="ms-1 d-none d-sm-inline">SPARQL endpoint</span></a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown pb-4">
                  <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="https://odi-documentation.github.io/materials/" class="nav-link align-middle px-0" target="_blank">
                          <i class="bi bi-journal-bookmark-fill"></i>
                            <span class="ms-1 d-none d-sm-inline">Documentazione <i class="bi bi-box-arrow-up-right"></i></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://github.com/ODI-documentation/materials" class="nav-link align-middle px-0" target="_blank">
                          <i class="bi bi-github"></i>
                            <span class="ms-1 d-none d-sm-inline">Repository <i class="bi bi-box-arrow-up-right"></i></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="odi/contatti" class="nav-link align-middle px-0">
                          <i class="bi bi-person-circle"></i>
                            <span class="ms-1 d-none d-sm-inline">Contatti</span>
                        </a>
                    </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col py-3">
          <!-- main content -->
          <div class="col d-flex flex-column h-sm-100" id="indexes">
            <div class="row">

                <div id="intro-img" class="col-0 col-md-4 pt-3 img-fluid mt-5">
                  <img class="img_home" src="assets/img/tarot-deck.png" alt="Il quadrato magico" style="width: 300px" style="height: 300px">
                </div>
                <div class="col-12 col-md-8">
                  <h1 class="m-5" style="text-align:left"><br> ODI e BACODI: uno studio su <i>Il Castello dei Destini incrociati</i> di Italo Calvino</h1>

                  <div class="m-5">

                  <p><b>ODI</b> è un'ontologia de <i>Il castello dei destini incrociati</i> scritta da Italo Calvino.</p>
                  <p><b>BACODI</b> è una base di conoscenza modellata sull'ontologia ODI e conserva elementi iconografici e testuali dell'opera di Calvino nella loro dimensione strutturale e narrativa.</p>
                  <p>In particolare, questo progetto si propone di studiare l'<b>uso narrativo</b> delle carte dei <b>tarocchi</b> e le loro <b>relazioni</b> nelle storie dell'opera.
                  </p>
                  <hr class="mt-5 mb-5">
                  <p> Tramite la sezione <b><a href="/indici">Indici</a></b> è possibile esplorare le relazioni che intercorrono tra storie, carte e significati dell'opera</p>
                  <p> La sezione <b><a href="#">Visualizzazioni dei Dati</a></b> contiene alcune grafiche significative le quali caratterizzano le caratteristiche narrative e strutturali dell'opera <i>(in fase di sviluppo)</i </p>
                  <p> Tramite lo <b><a href="/sparql">SPARQL endpoint</a></b> è possibile interrogare la base di conoscenza BACODI

                  </div>
              </div>
            <main class="row overlow-auto">
          </main>
        </div>
    </div>
</div>


  </div>
</div>
</div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
  </body>
</html>
