<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Pasqual Valentina, Enrica Bruno, Francesca Tomasi">
    <title>BACODI</title>
    <link rel="stylesheet" href="../assets/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <body>

    <!-- sticky sidebar -->
    <div class="container-fluid overflow-hidden sidebar">
      <div class="row vh-100 overflow-auto">
        <div class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 bg-dark d-flex sticky-top pt-3">
          <div class="fixed-top d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2 text-white" id="the_sidebar">
            <a href="../" class="d-flex align-items-center pb-sm-3 mb-md-0 me-md-auto text-white text-decoration-none">
              <span class="fs-5">ODI</span>
              </span>
            </a>
            <p class="side-small-text d-none d-md-inline" style="word-break: break-all !important">
              <i>Esplorazione semantica della <br>macchina narrativa combinatoria <br> de "Il castello dei destini incrociati"<br>di Italo Calvino</i>
            </p>
            <hr class="d-none d-md-inline">
            <ul class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start" id="menu">
              <li class="nav-item">
                <a href="../" class="nav-link px-sm-0 px-2">
                  <i class="bi bi-arrow-down-left-square-fill"></i>
                  <span class="ms-1 d-none d-sm-inline">Indici</span>
                </a>
              </li>
              <li>
                <a href="#" data-bs-toggle="collapse" class="nav-link px-sm-0 px-2">
                  <i class="bi bi-bar-chart-line-fill"></i>
                  <span class="ms-1 d-none d-sm-inline">Visualizzazioni dei Dati</span>
                </a>
              </li>
              <li>
                <a href="../sparql" class="nav-link px-sm-0 px-2">
                  <i class="bi bi-question-circle"></i>
                  <span class="ms-1 d-none d-sm-inline">SPARQL Endpoint</span>
                </a>
              </li>
            </ul>
            <ul class="sticky-bottom-md nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start" id="menu2">
              <li>
                <a href="https://odi-documentation.github.io/materials/" class="nav-link px-sm-0 px-2" target="_blank">
                  <i class="bi bi-journal-bookmark-fill"></i>
                  <span class="ms-1 d-none d-sm-inline">Documentazione <i class="bi bi-box-arrow-up-right"></i></span>
                </a>
              </li>
              <li>
                <a href="https://github.com/ODI-documentation/materials" class="nav-link px-sm-0 px-2" target="_blank">
                  <i class="bi bi-github"></i>
                  <span class="ms-1 d-none d-sm-inline">Repository <i class="bi bi-box-arrow-up-right"></i></span>
                </a>
              </li>
              <li>
                <a href="../contatti" class="nav-link px-sm-0 px-2">
                  <i class="bi bi-person-circle"></i>
                  <span class="ms-1 d-none d-sm-inline">Contatti</span>
                </a>
              </li>
              <hr class="d-none d-md-inline">
            </ul>
          </div>
        </div>

        <!-- main content -->

        <div class="col d-flex flex-column h-sm-100">
          <main class="row overflow-auto">
            <div class="col pt-4">
              <div class="card w-100">
                <div class="card-header bg-dark">
                  <h1 class="text-white text-center">{{meaningLabel['value']}}</h1>
                </div>
                <div class="card-footer text-muted">
                  <h5 class="card-title">Interpretazioni</h5>
                  <ul class="list-group list-group-flush"> {% for res in meaningData['results']['bindings'] %} <li class="list-group-item" style="background-color:transparent">
                      <div class="row w-100">
                        <div class="col-md-2"> Posizione <span class="badge badge-light bg-dark">{{res['position']['value']}}</span>
                        </div>
                        <div class="col-md-5"> Compare in: <a href={{res['story']['value']|replace('https://purl.org/ebr/odi/data/', '../storie/')}} class="card-text">{{res["storyTitle"]['value']}}{% if 'storyName' in res %}, <i> {{res["storyName"]['value']}}</i>{% endif %} </a>
                          <br> Carta: <a href={{res['deckCard']['value']|replace('https://purl.org/ebr/odi/data/', '../carte/')}} class="card-text">{{res["cardName"]['value']}}</a>
                        </div>
                        <div class="col-md-5">
                          <p class="card-text">{{res['texts']['value']}}</p>
                        </div>
                      </div>
                    </li> {% endfor %} </ul>
                </div>
              </div>
              </div>
            </div>
          </main>
  </body>
</html>
