<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Pasqual Valentina, Enrica Bruno, Francesca Tomasi">
    <title>MACODI</title>
    <link rel="stylesheet" href="../assets/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <!-- cookies and analytics -->
    <script src="../assets/js/stats.js"></script>
    <script src="../assets/js/matomo.js"></script>
    <!-- plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row flex-nowrap">
        <div id="sidebar-container" class="col-auto px-0">
          <div id="sidebar" class="collapse collapse-horizontal show border-end">
            <div id="sidebar-nav" class="list-group border-0 rounded-0 text-sm-start min-vh-100 p-3" style="white-space: nowrap !important">
              <a href="../" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-decoration-none">
                  <span class="fs-5 d-none d-sm-inline pt-4">MACODI</span>
              </a>
              <p class="side-small-text d-none d-md-inline" style="word-break: break-all !important">
                Esplorazione semantica della<br>«macchina narrativa combinatoria»<br> de <i>Il castello dei destini incrociati</i><br>di Italo Calvino
              </p>
              <hr>
              <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                  <li class="nav-item">
                      <a href="../" class="nav-link align-middle px-0">
                        <i class="bi bi-house-fill"></i>
                          <span class="ms-1 d-none d-sm-inline">Home</span>
                      </a>
                  </li>
                  <li class="nav-item">
                    <a href="../introduzione" class="nav-link align-middle px-0">
                      <i class="bi bi-journal-bookmark-fill"></i>
                      <span class="ms-1 d-none d-sm-inline">Introduzione</span>
                    </a>
                  </li>
                  <li class="nav-item">
                      <a href="../indici" class="nav-link align-middle px-0">
                        <i class="bi bi-book-half"></i>
                          <span class="ms-1 d-none d-sm-inline"><b>Strumenti d'accesso</b></span>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a href="../visualizzazioni"  class="nav-link align-middle px-0">
                        <i class="bi bi-bar-chart-line-fill"></i>
                        <span class="ms-1 d-none d-sm-inline">Visualizzazioni dei Dati</span> </a>
                  </li>
                  <li class="nav-item">
                      <a href="../sparql" class="nav-link align-middle px-0">
                        <i class="bi bi-lightbulb"></i>
                        <span class="ms-1 d-none d-sm-inline">SPARQL endpoint</span></a>
                  </li>
              </ul>
              <hr>
              <div class="dropdown pb-4">
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                  <li class="nav-item">
                      <a href="https://odi-documentation.github.io/materials/" class="nav-link align-middle px-0" target="_blank">
                        <i class="bi bi-file-earmark-code"></i>
                          <span class="ms-1 d-none d-sm-inline">Documentazione <i class="bi bi-box-arrow-up-right"></i></span>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a href="https://github.com/ODI-documentation/materials" class="nav-link align-middle px-0" target="_blank">
                        <i class="bi bi-github"></i>
                          <span class="ms-1 d-none d-sm-inline">Repository <i class="bi bi-box-arrow-up-right"></i></span>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a href="../contatti" class="nav-link align-middle px-0">
                        <i class="bi bi-person-circle"></i>
                          <span class="ms-1 d-none d-sm-inline">Credits</span>
                      </a>
                  </li>
                  </ul>
            </div>
          </div>
        </div>
      </div>

      <main class="col ps-md-2 pt-2">
      <a href="#" data-bs-target="#sidebar" data-bs-toggle="collapse" class="border rounded-3 p-1 text-decoration-none"><i class="bi bi-list bi-lg py-2 p-1"></i></a>
      <div class="row">
            <div id="breadcrumbs" class="text-end"></div>
            <main class="row overflow-auto">
              <div class="col pt-4">
                <div class="card w-100">
                  <div class="card-header">
                    <h1 class="text-center p-3">{{typologyLabel['value']}}</h1>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title p-2">Descrizione</h5>
                    <p class="p-3">{{typologyDescription['value']}}</p>

                      <div>
                          {{ plot_html|safe }}
                      </div>

                    <div class="accordion accordion-flush" id="accordionFlushExample">
                    <h5 class="card-title p-2">Interpretazioni</h5>
                  </div>
                </div>
              </div>
                <div class="row w-100">
                <div class="col-md-2">
                  <h6 class="text-center">Storia
                    <button type="button" class="btn btn-lg btn-danger p-0" data-bs-toggle="popover" data-bs-content="Indica la storia in cui la carta appare">
                      <i class="bi bi-info-circle"></i>
                    </button>
                  </h6>
                </div>
                <div class="col-md-1">
                  <h6 class="text-center">Posizione
                    <button type="button" class="btn btn-lg btn-danger p-0" data-bs-toggle="popover" data-bs-content="Ogni storia coincide con una sequenza di carte. La posizione corrisponde dunque alla posizione nella sequenza della suddetta tipologia con la sua corrispettiva carta.">
                      <i class="bi bi-info-circle"></i>
                    </button>
                  </h6>
                </div>
                <div class="col-md-2">
                  <h6 class="text-center">Carta
                    <button type="button" class="btn btn-lg btn-danger p-0" data-bs-toggle="popover" data-bs-content="Indica la carta che viene utilizzata come espediente narrativo nella storia corrente">
                      <i class="bi bi-info-circle"></i>
                    </button>
                  </h6>
                </div>
                <div class="col-md-2">
                  <h6 class="text-center">Istanza
                    <button type="button" class="btn btn-lg btn-danger p-0" data-bs-toggle="popover" data-bs-content="Indica l'istanza narrativa della tipologia di carta in questione, quindi la storia in cui occorre, con quali carte ed il relativo significato.">
                      <i class="bi bi-info-circle"></i>
                    </button>
                  </h6>
                </div>
                <div class="col-md-3">
                  <h6 class="text-center">Testo
                    <button type="button" class="btn btn-lg btn-danger p-0" data-bs-toggle="popover" data-bs-content="Fornisce il riferimento testuale per una maggiore comprensione dell'istanza narrativa della carta nella storia. Ove sono presenti più estratti dal testo, questi vengono separati tramite il segno //">
                      <i class="bi bi-info-circle"></i>
                    </button>
                  </h6>
                </div>
                <div class="col-md-2">
                  <h6 class="text-center">Miniatura
                    <button type="button" class="btn btn-lg btn-danger p-0" data-bs-toggle="popover" data-bs-content="Se presente a margine del testo, l'icona è rappresentata nelle sue dimensioni originali come riportata nell'edizione di riferimento (i.e. grande o piccola)">
                      <i class="bi bi-info-circle"></i>
                    </button>
                  </h6>
                </div>
                <hr>
              </div>
                    <ul class="list-group list-group-flush pt-3"> {% for res in typologyMeaningsResults['results']['bindings'] %}
                      <li class="list-group-item" style="background-color:transparent">
                            <div class="row w-100 p-3">

                              <!-- storia -->
                              <div class="col-md-2">
                                {% if 'storyName' in res %}
                                  <p class="text-center">
                                    <a href="../{{res['story']['value']|replace('https://w3id.org/odi/data/', '')}}">
                                      {{res["storyTitle"]['value']}},
                                      <i>{{res["storyName"]['value']}}</i>
                                    </a>
                                  </p>
                                {% else %}
                                  <p class="text-center"><a href="../{{res['story']['value']|replace('https://w3id.org/odi/data/', '')}}">Tutte le altre storie, {{res["storyTitle"]['value']}}</a></p>
                                {% endif %}
                              </div>

                              <!-- posizione -->
                              <div class="col-md-1">
                                <p class="text-center">{{res['position']['value']}}</p>
                              </div>

                              <!-- carta -->
                              <div class="col-md-2">
                                  <p class="text-center"><a href="../{{res['deckCard']['value']|replace('https://w3id.org/odi/data/', '')}}" class="card-text">{{res["cardName"]['value']}}</a></p>
                              </div>

                              <!-- istanza -->
                              <div class="col-md-2">
                                <p class="text-center"><a href="../{{res['meaning']['value']|replace('https://w3id.org/odi/data/', '')}}" class="card-text">{{res["meaningLabel"]['value']}}</a></p>
                              </div>

                              <!-- testo -->
                              <div class="col-md-3">
                                <p class="text-center">{{res['texts']['value']}}</p>
                              </div>

                              <!-- iconografia -->
                              <div class="col-md-2">
                                {% if "image" in res and "imageURL" in res %}
                                <img class="image-click rounded mx-auto d-block card-text {{ res['image']['value']|replace('https://w3id.org/odi/data/', '') }}" src="{{ res['imageURL']['value']}}">
                                {% endif %}
                                <!-- The Modal -->
                                <div class="modal">
                                  <span class="close">&times;</span>
                                  <img class="modal-content" id="img01">
                                  <div id="caption"></div>
                                </div>
                              </div>


                            </div>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
            </main>
          </div>
        </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
    <script src="../assets/js/script.js"></script>
  </body>
</html>
