<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Pasqual Valentina, Enrica Bruno, Francesca Tomasi">
  <title>MACODI</title>
  <link rel="stylesheet" href="../assets/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <!-- cookies and analytics -->
  <script src="../assets/js/stats.js"></script>
  <script src="../assets/js/matomo.js"></script>
  <!-- visnetwork -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis-network/9.1.2/dist/dist/vis-network.min.css" integrity="sha512-WgxfT5LWjfszlPHXRmBWHkV2eceiWTOBvrKCNbdgDYTHrT2AeLCGbF4sZlZw3UMN3WtL0tGUoIAKsu8mllg/XA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vis-network/9.1.2/dist/vis-network.min.js" integrity="sha512-LnvoEWDFrqGHlHmDD2101OrLcbsfkrzoSpvtSQtxK3RMnRV0eOkhhBN2dXHKRrUU8p2DGRTk35n4O8nWSVe1mQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
  <body>

    <div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0" id="sidebar">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 min-vh-100">
                <a href="#" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline pt-4">MACODI</span>
                </a>
                <p class="side-small-text d-none d-md-inline" style="word-break: word-wrap !important">
                  Esplorazione semantica della «macchina narrativa combinatoria» de <i>Il castello dei destini incrociati</i> di Italo Calvino
                </p>
                <hr>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="../" class="nav-link align-middle px-0">
                          <i class="bi bi-house-fill"></i>
                            <span class="ms-1 d-none d-sm-inline">Introduzione</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="../indici" class="nav-link align-middle px-0">
                            <i class="bi bi-arrow-down-left-square-fill"></i>
                            <span class="ms-1 d-none d-sm-inline">Indici</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#"  class="nav-link align-middle px-0">
                          <i class="bi bi-bar-chart-line-fill"></i>
                          <span class="ms-1 d-none d-sm-inline">Visualizzazioni dei Dati</span> </a>
                    </li>
                    <li class="nav-item">
                        <a href="../sparql" class="nav-link align-middle px-0">
                          <i class="bi bi-question-circle"></i>
                          <span class="ms-1 d-none d-sm-inline">SPARQL endpoint</span></a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown pb-4">
                  <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="https://odi-documentation.github.io/materials/" class="nav-link align-middle px-0" target="_blank">
                          <i class="bi bi-journal-bookmark-fill"></i>
                            <span class="ms-1 d-none d-sm-inline">Documentazione <i class="bi bi-box-arrow-up-right"></i></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://github.com/ODI-documentation/materials" class="nav-link align-middle px-0" target="_blank">
                          <i class="bi bi-github"></i>
                            <span class="ms-1 d-none d-sm-inline">Repository <i class="bi bi-box-arrow-up-right"></i></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="../contatti" class="nav-link align-middle px-0">
                          <i class="bi bi-person-circle"></i>
                            <span class="ms-1 d-none d-sm-inline">Credits</span>
                        </a>
                    </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container col py-3">
          <div class="row">
            <!-- Main content in a column with width 4 -->
            <div class="col-md-2 bg-light pt-3">
              <h5>Strumenti</h5>
              <div class="network-tool">
                <h6>Descrizione</h6>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#network-description-modal">
                  <i class="bi bi-info-circle-fill"></i>
                </button>
              </div>
              <!-- Network search -->
              <div class="network-tool">
                <h6>Legenda</h6>
                <div id="legend"></div>
              </div>
              <!-- Zoom-in and Zoom-out buttons -->
              <div class="network-tool">
                <h6>Zoom</h6>
                <div id="zoom-buttons" class="d-flex">
                  <button class="btn btn-outline-dark" onclick="zoomIn()"><i class="bi bi-zoom-in"></i></button>
                  <button class="btn btn-outline-dark" onclick="zoomOut()"><i class="bi bi-zoom-out"></i></button>
                  <button class="btn btn-outline-dark" onclick="resetZoom()"><i class="bi bi-arrow-counterclockwise"></i></button>
                </div>
              </div>
              <div class="network-tool">
                <nav class="navbar navbar-light bg-light">
                  <h6>Ricerca</h6>
                  <div class="container-fluid">
                    <form class="d-flex">
                      <div class="dropdown" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        <div class="d-flex form-inputs">
                        <input type="text" autocomplete="off" id="searchInput" class="form-control me-2" placeholder="Seleziona un elemento..." aria-label="Search">
                        <!-- <i class="bi bi-search-heart pe-3" onclick="searchNode()"></i>-->
                        </div>
                        <ul id="suggestedNodes" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        </ul>
                      </div>
                    </form>
                  </div>
                </nav>

              </div>
              <div class="network-tool">
                <h6>Scopri di più</h6>
                <div id="customMessage" class="mt-3">Select a node</div>
              </div>
            </div>
            <div class="col-md-10">
              <!-- Network in a column with width 8 -->
              <div id="network"></div>
            </div>
          </div>
        </div>
</div>
</div>

<div class="modal fade" id="network-description-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Descrizione</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Il network mostra le relazioni tra le carte in base ai significati che ricoprono all’interno della raccolta. I riguardi verdi sono le carte mentre i cerchi grigi quello che le carte rappresentano. Lo spessore delle linee mette in evidenza il numero di occorrenze nelle quali ogni carta assume lo stesso significato. </p>
        <p>La visualizzazione, a partire dal centro, presenta una convergenza nel personaggio-protagonista dal momento che l’analisi dei dati è stata svolta prendendo come punto di riferimento proprio il personaggio principale delle varie storie. Significativa è la concordanza delle carte: appartengono tutte alla tipologia delle
          <a href="https://w3id.org/odi/data/tipologia/carta-di-corte" target="__blank">carte di corte</a> (tipologia privilegiata da Calvino per presentare il protagonista) e le poche carte che non condividono la medesima tipologia sono distanziate ponendo l’attenzione sul loro utilizzo secondario all’interno della storia come espressione di una identità o di un cambiamento del protagonista (i.e.
          <a href="https://w3id.org/odi/tipologia/trionfo" target="__blank">i trionfi</a>:
          <a href="https://w3id.org/odi/data/carte/la-temperanza" target="__blank">La Temperanza</a>,
          <a href="https://w3id.org/https://w3id.org/odi/data/carte/il-matto" target="__blank">Il Matto</a>,
          <a href="https://w3id.org/odi/data/carte/il-bagatto" target="__blank">Il Bagatto</a>,
          <a href="https://w3id.org/odi/data/carte/la-giustizia" target="__blank">La Giustizia</a> e
          <a href="https://w3id.org/odi/data/carte/il-penduto" target="__blank">Il Penduto</a>).
          Soffermandosi su alcune carte è, inoltre, possibile notare l’utilizzo delle carte di corte per esprimere altre rappresentazioni oltre a quella del
          <a href="https://w3id.org/odi/data/significati/protagonista" target="__blank">protagonista</a> (e.g.
          <a href="https://w3id.org/odi/carte/data/fante-di-spade" target="__blank">Fante di Spade</a> che assume sia il ruolo del personaggio
          <a href="https://w3id.org/odi/data/significati/protagonista" target="__blank">protagonista</a> che del personaggio secondario
          <a href="https://w3id.org/odi/data/significati/guerriero" target="__blank">“guerriero”</a>).</p>
        <p>Un secondo livello di visualizzazione delinea la condivisione di alcune sfere semantiche del seme di coppe con gli altri semi, in particolare con il
          <a href="https://w3id.org/odi/data/semi/denari" target="__blank">seme di Denari</a>: ad esempio, lo
          <a href="https://w3id.org/odi/data/significati/spreco" target="__blank">“spreco”</a>, che rimanda alla sfera materiale del denaro, è rappresentato sia dall’
          <a href="https://w3id.org/odi/data/carte/otto-di-coppe" target="__blank">Otto di Coppe</a> sia dal
          <a href="https://w3id.org/odi/data/carte/cinque-di-denari" target="__blank">Cinque di Denari</a>; più evidente è la rappresentazione della
          <a href="https://w3id.org/data/significati/ricchezza" target="__blank">“ricchezza”</a> da parte di vari
          <a href="https://w3id.org/odi/data/tipologia/numerali" target="__blank">numerali</a> con il
          <a href="https://w3id.org/odi/data/semi/denari" target="__blank">seme di Denari</a> ma anche dal
          <a href="https://w3id.org/odi/data/carte/nove-di-coppe" target="__blank">Nove di Coppe</a>.</p>
        <p>I restanti due semi,
          <a href="https://w3id.org/odi/data/semi/bastoni" target="__blank">Bastoni</a> e
          <a href="https://w3id.org/odi/data/semi/spade" target="__blank">Spade</a>, presentano una precisa sfera semantica di riferimento che non richiede ulteriori spiegazioni. Un terzo livello è definito da alcune carte che rappresentano una convergenza di rappresentazioni ma che non sempre appartengono alla stessa tipologia (e.g.
          <a href="https://w3id.org/odi/data/carte/la-luna" target="__blank">La Luna</a> e
          <a href="https://w3id.org/odi/data/carte/asso-di-denari" target="__blank">Asso di Denari</a>;
          <a href="https://w3id.org/odi/data/carte/la-stella" target="__blank">La Stella</a> e
          <a href="https://w3id.org/odi/data/carte/regina-di-spade" target="__blank">Regina di Spade</a>).</p>
	      <p>Un ultimo livello di visualizzazione mostra gli <i>outliers</i></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Torna alla visualizzazione</button>
      </div>
    </div>
  </div>
</div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="../assets/js/script.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>

<script>

function replaceHtmlEntities(input) {
return input.replace(/&#39;/g, "'");
}


var nodes = [
  {% for res in networkResults['results']['bindings'] %}
      { id:"{{res['card']['value']}}", label:replaceHtmlEntities("{{res['cardLabel']['value']}}"), class:'Carta', color: '#99C199', shape: 'square'},
    { id:"{{res['meaning']['value']}}", label:replaceHtmlEntities("{{res['meaningLabel']['value']}}"), class:'Significato', color: 'gray', shape: 'dot'},
  {% endfor %}
];

var uniqueNodes = Array.from(new Set(nodes.map(JSON.stringify)), JSON.parse);

var edges = [
  {% for res in networkResults['results']['bindings'] %}
    { from:  "{{res['card']['value']}}", to:replaceHtmlEntities("{{res['meaning']['value']}}") , label:"", value:"{{res['n']['value']}}"},
  {% endfor %}
];

// Create a new network instance
var container = document.getElementById('network');
var data = {
  nodes: new vis.DataSet(uniqueNodes),
  edges: new vis.DataSet(edges)
};

var options = {
  layout: {
    improvedLayout: false
  },
  physics: {
  enabled: true,
  stabilization: false,
  barnesHut: {
    gravitationalConstant: -8000,
    centralGravity: 0.3,
    springLength: 100,
    springConstant: 0.04,
    }
  }
};

var network = new vis.Network(container, data, options);

network.moveTo({scale: 0.1})


// Display "Select a node" message initially
customMessage.innerText = 'Nessun elemento selezionato';

network.on('click', function (params) {
  if (params.nodes.length > 0) {
    const nodeId = params.nodes[0];
    const node = nodes.find(node => node.id === nodeId);
    const nodeLink = `Selezione: <a href="${nodeId}" target="__blank">${node.label} (${node.class}) <i class="bi bi-box-arrow-up-right"></i></a>`;
    customMessage.innerHTML = nodeLink;
  } else {
    // When no node is clicked, display "Select a node" message
    customMessage.innerText = 'Nessun elemento selezionato';
  }
});

// SEARCHBAR & FOCUS

const searchInput = document.getElementById('searchInput');
const suggestedNodesDiv = document.getElementById('suggestedNodes');

// Function to collect unique node labels
function getUniqueNodeLabels() {
  const nodeLabels = new Set();
  nodes.forEach(function (node) {
    nodeLabels.add(node.label);
  });
  return Array.from(nodeLabels);
}

// Function to display suggested node labels
function displaySuggestedNodes(suggestedNodes) {
  suggestedNodesDiv.innerHTML = suggestedNodes.map(node => `<li class="suggestedNode dropdown-item">${node}</li>`).join('');
}

searchInput.addEventListener('input', function () {
  const searchTerm = searchInput.value.toLowerCase();
  const uniqueNodeLabels = getUniqueNodeLabels();
  const suggestedNodes = uniqueNodeLabels.filter(label => label.toLowerCase().includes(searchTerm));
  displaySuggestedNodes(suggestedNodes);

  // Add an event listener to capture the selection
  const suggestionList = document.getElementById('suggestedNodes'); // Assuming you have an element to display suggestions
  suggestionList.addEventListener('click', function (event) {
    // Check if the click event occurred on one of the suggested nodes
    if (event.target && event.target.classList.contains('suggestedNode')) {
      const selectedNode = event.target.textContent; // Get the text content of the clicked suggestion
    }
  });
});

// Event listener for suggested node clicks
suggestedNodes.addEventListener('click', function (e) {
  if (e.target.classList.contains('suggestedNode')) {
    searchInput.value = e.target.textContent;
    searchNode(searchInput.value);
  }
});

function searchNode(searchTerm) {
  searchedNode = data.nodes.getIds({
    filter: function (node) {
      if (node.label) {
        console.log(searchTerm)
        return node.label.toLowerCase().includes(searchTerm.toLowerCase());
      }
      return false; // Return false for nodes with no label property
    }
  });

  if (searchedNode.length > 0) {
    const options = {
      nodes: [searchedNode[0]],
      animation: {
        duration: 1000, // Adjust the duration of the animation (in milliseconds)
        easingFunction: 'easeInOutQuad', // Adjust the easing function for a smoother transition
      },
    };

    network.fit(options);
  } else {
    alert('Node not found.');
  }
}

// NETWORK LEGEND
var legend = document.getElementById("legend");

// Define legend items based on the unique classes and colors in your 'nodes' array
var uniqueLegendItems = [];
nodes.forEach(function(node) {
  if (!uniqueLegendItems.some(item => item.label === node.class)) {
    uniqueLegendItems.push({ label: node.class, color: node.color });
  }
});

// Populate the legend with unique items
uniqueLegendItems.forEach(function (item) {
  var legendItem = document.createElement("div");
  legendItem.innerHTML = `<span style="color: ${item.color};">■</span> ${item.label}`;
  legend.appendChild(legendItem);
});


</script>


  </body>
</html>
